.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150vh;
  width: 100%;
}
.navBar {
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: linear-gradient(to left, #808080 0%, #ffffff 64%);
  
  
}

.logoImg {
  height: 250px;
  width: 400px;
}
.imageInside {
  width: 600px;
  height: 600px;
  border-top-left-radius: 200px;
  box-shadow: 10px 10px 5px #dedede;
}
.title {
  display: flex;
  position: relative;
}
.lista1 {
  text-decoration: none;
  color: rgb(56, 4, 4);
}
li {
  list-style: none;
}
ul{
  padding-left: 20px;
}
.search {
  width: 200px;
  height: 40px;
  color: black;
  background-color: rgb(247, 243, 242);
  border-radius: 20px;
  margin: 30px;

}
.sideBar{
 margin: 0;
  align-items: center;
  height: 100%;
  width: 13%;
  font-size: 18px;
  background: linear-gradient(to top, #808080 0%, #ffffff 100%);
  border-radius: 30px;

}
.sideTitle{
  text-align:center ;
  height: 150px;
  padding-top: 150px;
}
.input {
  width: 300px;
  height: 30px;
  border-radius: 20px;
}
.content {
  display: flex;
  width: 100%;
  height: 75%;
  padding: 50px;
  justify-content: space-between;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}
.contact {
  margin-top: 30px;
}
.image {
  width: 40%;
  height: 55%;
  margin: 20px;
}
.textBox {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 90%;

  margin: 20px;
  font-size: 24px;
  padding-top: 50px;
  align-items: center;
  
}
li {
  margin: 40px 0;
}

.rightSide {
  width: 40%;
  height: 70%;
  border: 1px solid black;
  margin: 20px;
}

.leftSide {
  width: 40%;
  height: 70%;
  border: 1px solid black;
  margin: 20px;
}
.pageA {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  height: 100vh;
  width: 100%;
}
.navbarPageA {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 90%;
}


/*PageA*/
.imagePageA{
  height: 100%;
  width: 90%;
}